/**
* 01. RESET
*
*------------------------------------------------------------------------------------------------------------
*/
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/**
* 02. TIPOGRAFIA
*
*------------------------------------------------------------------------------------------------------------
*/

/*1 rem = 10px*/
html{
  font-size: 62.5%;
}


/**
* 03. GENERALES
*
*------------------------------------------------------------------------------------------------------------
*/
a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}



/**
* 04. INDEX
*
*--------------------------------------------------Mobile First------------------------------------------------
*/

#header{
  background-color: rgb(137, 182, 167);
  display: grid;
  grid-template-areas:
  "logo redes menu"
  "nav nav nav";
  grid-template-columns: repeat(3, 1fr);
}

#contenedor-logo{
  grid-area: logo;
  background-color: aqua;
}

#contenedor-menu{
  grid-area: menu;
  background-color: coral;
  display: flex;
  justify-content: flex-end;
  padding: 6px;
}

#contenedor-redes{
  grid-area: redes;
}

#nav{
  grid-area: nav;
  background-color: turquoise;  
}

header ul{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 6px;
}

#ul-redes{
  flex-direction: row;
}

#ul-nav{
  font-size: 3rem;
  text-align: center;
}

#ul-nav li:hover{
  background-color: rgb(33, 160, 101);
  margin: 0;
  padding: 0;
  font-size: 115%;
}


#especialidades img{
  width: 310px;
  height: 150px;
  margin-bottom: 15px;
}


/**
* 04. JS
*
*--------------------------------------------------Navigation------------------------------------------------
*/
.nav ul {
  display: none;
}

.nav ul.show {
  display: block;
}