/**
* 01. RESET
*
*------------------------------------------------------------------------------------------------------------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* 02. TIPOGRAFIA
*
*------------------------------------------------------------------------------------------------------------
*/

/*1 rem = 10px*/
html {
  font-size: 62.5%;
}

/**
* 03. GENERALES
*
*------------------------------------------------------------------------------------------------------------
*/
a {
  text-decoration: none;
  color: #fff;
}

.active {
  font-weight: 400;
}

ul {
  list-style: none;
}

/* contenedores con altura de viewport hight 50vh*/

.vh-50 {
  height: 50vmin;
}

.vh-75 {
  height: 75vmin;
}

/**
* 04. INDEX
*
*--------------------------------------------------Mobile First------------------------------------------------
*/

/*-----------------------------------------------------BODY-------------------------------------------------*/

body {
  background-color: #fff;
  transition: all 0.7s;
}

/**
* 04. INDEX
*
*--------------------------------------------------Mobile First------------------------------------------------
*/

/*---------------------------------------------------HEADER-------------------------------------------------*/

.header {
  background-image: url(../img/background/bkg-nuevoCut.jpg);
  background-position: 75% 135%;
  background-size: cover;
  transition: all 1s;
  position: relative;
}

.header-sec {
  background-image: url(../img/background/bkg-nuevoCut.jpg);
  background-position: 75% 58%;
  background-size: cover;
  transition: all 1s;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .header {
    background-image: url(../img/background/bkg-nuevoCut.jpg);
    background-position: 307% 50%;
    background-size: cover;
    transition: all 1s;
    position: relative;
  }
}

/* LOGO */
.logo-text {
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-left: 10px;
}

/* media query mobile-xl */
@media only screen and (min-width: 576px) {
  .logo-text {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }
}

/* media query tablet */
@media only screen and (min-width: 768px) {
  .logo-text {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

/* media query pc */
@media only screen and (min-width: 1200px) {
  .logo-text {
    font-size: 4.5rem;
    letter-spacing: 8px;
  }
}

/* MENU ICON */

.menu-icon {
  display: none;
}

/* media query Mobile */
@media only screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* NAV BAR */

.nav-a {
  color: rgb(80, 35, 1);
  font-size: 1.6rem;
  border-radius: 3px;
}

/* media query tablet */
@media only screen and (min-width: 768px) {
  .list-a {
    display: flex;
    margin: 0;
  }

  .nav-a {
    font-size: 1.3rem;
    border-radius: 3px;
  }
}

/* media query pc */

@media only screen and (min-width: 1200px) {
  .list-a {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }

  .nav-a {
    font-size: 1.5rem;
    border-radius: 3px;
  }
}

/* media query tablet */
@media only screen and (max-width: 767px) {
  .contenedor-a {
    display: none;
  }

  .contenedor-a.show {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
}

.nav-a:hover {
  background-color: rgb(230, 195, 175);
  transition: all 0.7s;
}

/* TITULO */

.header-h1 {
  color: rgb(80, 35, 1);
  text-shadow: 1px 1px 0.9px#fff;
  font-size: 5rem;
  font-family: "Oxygen", sans-serif;
  line-height: 12px;
  font-weight: 400;
  padding: 12px 0 25px 0;
  margin: 0 0 0 -6px;
}

.header-h2 {
  color: #000;
  text-shadow: 1px 1px 0.9px#fff;
  font-size: 1.5rem;
  padding: 0px 0;
}

.container-titulo {
  margin: 10px 0 0 10px;
}

/* media query mobile-xl */
@media only screen and (min-width: 576px) {
  .header-h1 {
    font-size: 8rem;
    line-height: 8px;
    padding: 30px 0 50px 0;
  }

  .header-h2 {
    font-size: 2rem;
  }
  .container-titulo {
    margin: 2rem 0 0 1.5rem;
  }
}

/* media query tablet */
@media only screen and (min-width: 768px) {
  .header-h1 {
    font-size: 10rem;
    font-family: "Oxygen", sans-serif;
    line-height: 8px;
    font-weight: 400;
    padding: 50px 0 72px 0;
    margin: 0 0 0 0px;
  }

  .header-h2 {
    color: #000;
    font-size: 2.5rem;
    text-shadow: 1px 2px#fff;
    padding: 0px 0;
  }

  .container-titulo {
    margin: 50px 0 0 50px;
  }
}

/* media query pc */
@media only screen and (min-width: 1200px) {
  .header-h1 {
    font-size: 17rem;
    font-family: "Oxygen", sans-serif;
    line-height: 50px;
    font-weight: 400;
    padding: 50px 0 72px 0;
    margin: 0 0 0 0px;
  }

  .header-h2 {
    color: #000;
    font-size: 5rem;
    text-shadow: 1px 2px#fff;
    padding: 0px 0;
  }

  .container-titulo {
    margin: 50px 0 0 0px;
  }
}

.header::after {
  content: "";
  display: block;
  margin-bottom: -2px;
  width: 100%;
  height: 20px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

/**
* 04. INDEX
*
*--------------------------------------------------Mobile First------------------------------------------------
*/

/*---------------------------------------------------MAIN-------------------------------------------------*/

/* TITULO ESPECIALIDADES */

.especialidades-texto h2 {
  color: rgb(80, 35, 1);
  font-size: 2.5rem;
}

.especialidades-texto h3 {
  font-size: 1.9rem;
}

.especialidades-texto p {
  font-size: 1.5rem;
}

/* media query tablet */

@media only screen and (min-width: 576px) {
  .especialidades-texto h2 {
    font-size: 5rem;
  }

  .especialidades-texto h3 {
    font-size: 2.5rem;
  }

  .especialidades-texto p {
    font-size: 2rem;
  }
}

/* media query pc */
@media only screen and (min-width: 1200px) {
  .especialidades-texto h2 {
    font-size: 8rem;
  }

  .especialidades-texto h3 {
    font-size: 4rem;
  }

  .especialidades-texto p {
    font-size: 3rem;
  }
}

/* CARDS ESPECIALIDADES */

.card-img-filter {
  filter: brightness(0.5);
}

.card h4 {
  transition: all 0.7s;
}

.card-effect:hover .card h4 {
  transform: scale(1.1);
}

.card-text-style h4 {
  font-size: 1.8rem;
  letter-spacing: 5px;
}

.card-text-style p {
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.card-text-style a {
  font-size: 1.5rem;
  letter-spacing: 3px;
  transition: all 0.4s;
}

/* media query Tablet */

@media only screen and (min-width: 576px) {
  .card-text-style h4 {
    font-size: 3.5rem;
    letter-spacing: 6.5px;
  }

  .card-text-style p {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }

  .card-text-style a {
    font-size: 3rem;
    letter-spacing: 5px;
    transition: all 0.4s;
  }
}

/* media query tablet */
@media only screen and (min-width: 768px) {
  .card-text-style h4 {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }

  .card-text-style p {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .card-text-style a {
    font-size: 2.5rem;
    letter-spacing: 2px;
    transition: all 0.4s;
  }

  .last-card p {
    font-size: 1.8rem;
  }
}

.card-text-style a:hover {
  transform: scale(1.1);
}

/**
* 04. INDEX

/*---------------------------------------------------FOOTER-------------------------------------------------*/

.footer-style {
  background-color: gray;
  margin-top: 10rem;
}

.logo-text-footer {
  font-size: 2rem;
  letter-spacing: 6px;
  margin-bottom: 15px;
}

/* media query tablet */

/* logo footer */
@media only screen and (min-width: 576px) {
  .logo-text-footer {
    font-size: 3rem;
    letter-spacing: 7px;
    margin-bottom: 15px;
    text-align: center;
  }
  /* lista recursos y redes */
  .footer-style ul {
    font-size: 1.5rem;
  }
  /* copyrigth */

  .footer-style p {
    font-size: 1.5rem;
  }
}

/**
* 04. ############################################## ESPECIALIDADES #################################################
*


/*---------------------------------------------------main-------------------------------------------------*/

/*---------------------------------------------------HEADER-------------------------------------------------*/

.carrousel-style h2{
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px .9px#000;
}

.carrousel-style p{
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px#000;
}


.contenedor-iframe{
  display: grid;
  grid-template-areas:
  "iframe1 descripcion1"
  "descripcion2 iframe2"
  "iframe3 descripcion3";

  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
/* ESPECIALIDADES - Informacion Barras */
#iframe-barras{
  grid-area: iframe1;
}

#descripcion-barras{
  grid-area: descripcion1;
  font-size: 1.6rem;
  background-color: rgba(222, 184, 135, 0.337);
  padding: 2px 5px;
}

#descripcion-barras h3{
  font-size: 3rem;
}

/* ESPECIALIDADES - Informacion Psicoterapia */

#iframe-pst{
  grid-area: iframe2;
}

#descripcion-psicoterapia{
  grid-area: descripcion2;
  font-size: 1.6rem;
  background-color: rgba(215, 187, 151, 0.575);
  padding: 2px 5px;
}

#descripcion-psicoterapia h3{
  font-size: 3rem;
}

/* ESPECIALIDADES - Informacion Psic. Organiz. */

#iframe-pso{
  grid-area: iframe3;
}

#descripcion-organizacion{
  grid-area: descripcion3;
  font-size: 1.6rem;
  background-color: rgba(225, 172, 102, 0.575);
  padding: 2px 5px;
}

#descripcion-organizacion h3{
  font-size: 3rem;
}


/**
* 04. ############################################## CONTACTO #################################################
*


/*---------------------------------------------------HEADER-------------------------------------------------*/

#contact {
  padding: 10px 0 10px;
}

.contact-text {
  margin: 45px auto;
}

.mail-message-area {
  width: 100%;
  padding: 0 15px;
}

.mail-message {
  width: 100%;
  background: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin: 0 auto;
  border-radius: 0;
}

.not-visible-message {
  height: 0px;
  opacity: 0;
}

.visible-message {
  height: auto;
  opacity: 1;
  margin: 25px auto 0;
}

/* Input Styles */

.form {
  width: 100%;
  padding: 15px;
  background: #f8f8f8;
  border: 1px solid rgba(80, 35, 1, 0.145);
  margin-bottom: 25px;
  color: #727272 !important;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form:hover {
  border: 1px solid rgb(80, 35, 1);
}

.form:focus {
  color: white;
  outline: none;
  border: 1px solid rgb(80, 35, 1);
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Generic Button Styles */

.button {
  padding: 8px 12px;
  background: #1e4559;
  display: block;
  width: 120px;
  margin: 10px 0 0px 0;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background: #8bc3a3;
  color: white;
}

/* Send Button Styles */

.form-btn {
  width: 180px;
  display: block;
  height: auto;
  padding: 15px;
  color: rgb(80, 35, 1);
  background: rgb(230, 195, 175);
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.form-btn:hover {
  background: rgb(244, 171, 130);
  color: rgb(80, 35, 1);
  border: none;
}

.form-btn:active {
  opacity: 0.9;
}
center {
  margin-top: 330px;
}
input {
  position: relative;
  z-index: 9999;
}
